.hover-image {
    position: absolute;
    top: -50px;
    /* настройте позицию по необходимости */
    left: calc(100% + 10px);
    width: 100px;
    opacity: 0;
    /* изначально скрыто */
    transition: opacity 1.3s ease;
    /* плавное появление */
}

.semi-circle {
    width: 550px;
    /* ширина */
    height: 270px;

    border-top-left-radius: 275px;
    /* скругление левого верхнего угла */
    border-top-right-radius: 275px;
    /* скругление правого верхнего угла */
}

.head {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.head_inside {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.semi-circle2 {
    width: 270px;
    /* ширина */
    height: 136px;
    border-top-left-radius: 135px;
    /* скругление левого верхнего угла */
    border-top-right-radius: 135px;
    /* скругление правого верхнего угла */
    overflow: hidden;
    /* скрыть лишнее, если нужно */
}


/* Показывать изображение при наведении */
.hover-container:hover.hover-image {
    opacity: 1;
}

html {
    scroll-behavior: smooth;
}

* {
    scroll-margin-top: 250px;
    /* или любой нужный вам отступ */
}


/* Стиль для анимационного элемента */
.animated-box {
    width: 100px;
    height: 100px;
    background-color: #3490dc;
    /* голубой цвет */
    margin: auto;
    animation: moveUpDown 2s infinite alternate ease-in-out;
}

/* Анимация */
@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(50px);
    }
}

/* Стиль для блока */
.fixed-block {
    top: 50%;
    /* отступ сверху */
    right: 20px;
    /* отступ справа */
    width: 50px;
    height: 50px;
    z-index: 500;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

/* Показываем меню при наведении */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Стиль для ссылок */
.dropdown-content a {
    text-decoration: none;
    display: block;
}



/* Вложенное подменю */
.submenu {
    position: relative;

}

/* Внутреннее подменю скрыто по умолчанию */
.sub-dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 160px;
}

.submenu:hover .sub-dropdown {
    display: block;
    /* Показывать при наведении на родительский пункт */
}


/* Стиль для ссылок внутри вложенного меню */
.sub-dropdown a {
    padding: 12px 16px;
}